body {
  margin: 0;
  background-color: #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
body:before {
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

nav {
  display: contents;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  order: 1;
}

nav a {
  text-decoration: none;
  display: block;
  color: #E2E70B;
}

.topmenu {
  text-align: end;
  margin: 15px;
}

.topmenu>li {
  display: inline-block;
  position: relative;
}

.topmenu>li>a {
  position: relative;
  padding: 10px 15px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
}

.topmenu>li>a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: purple;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}

.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}

.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 9em;
  padding: 15px;
  margin-top: 5px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), #791AA7);
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}

.topmenu>li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.topmenu li{
    margin:3px;
    font-size: 15pt;
}
submenu a {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .2s linear;
  text-align: center;
}

.submenu a:hover {
  background: #d64ecf98;
}

.join {
  text-align: center;
  top: 10%;
  left: 50%;
  font-size: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  padding: 15px 10px 15px;
  margin-top: 5px;
}

h1, h3 {
  font-family: 'Libre Baskerville', serif;
}
